<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Добавить пользователя</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${user}">
  <div>
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <br/>

    <label for="email">Введите почту: </label>
    <input type="text" th:field="*{email}" id="email"/>

    <br>

    <label for="address">Введите адресс: </label>
    <input type="text" th:field="*{address}" id="address"/>

    <br>

    <input type="submit" value="Добавить пользователя">
  </div>
</form>

</body>
</html>